@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Inter&display=swap');

:root {
  /* Color Pallet */
  --primary-color: #2F2FA7   ;
  --secondary-color: #4B83C2 ;
  --accent1-color: #F09D51;
  --accent2-color: white;

  /* Chosen Fonts/
  --heading-font: 'Bungee Spice';
  --paragraph-font: 'Inter';

  /* Color Definitions */
  --headline-color-on-white: #000001;  /* headlines on a white background */ 
  --headline-color-on-color: white; /* headlines on a colored background */ 
  --paragraph-color-on-white: #000001; /* paragraph text on a white background */ 
  --paragraph-color-on-color: white; /* paragraph text on a colored background */ 
  --paragraph-background-color: #000001;
  --nav-link-color: white;
  --nav-background-color: #2F2FA7;
  --nav-hover-link-color: white;
  --nav-hover-background-color: #F09D51;  
}

body {

    background-color:var(--accent2-color);
    font-family:'Inter', 'Calibri, sans-serif';
    font-size:22px;
    margin:0;
    padding:0;
}

#content {

    max-width:1600px;
    margin: 0 auto;
}

header {

    background-color:black;

}

#logo_link {

    padding-top:5px;

}

nav a {

    text-align:center;
    color:var(--accent2-color);
    text-decoration:none;
    padding:35px;

}

nav a:hover {

    background-color:var(--accent1-color);
    color:black;
}



#hero-msg h1 {

    text-align:center;
    font-family:'Bungee Spice', Helvetica, sans-serif;    

} 

#hero-msg h4 {

    text-align:center;
    font-family:'Inter';
    color:var(--paragraph-background-color);
}

.home-grid h2 {

    font-family:'Bungee Spice', Helvetica, sans-serif;

}

#hero-img {

    width:100%;

}

.button-box {

    text-align:center;

}

main section {

    text-align:center;

}

main section img {

    box-sizing:border-box;

}

#background{

    height:725px;
    background-color:var(--accent1-color);

}


.book, .join {

    background-color:var(--secondary-color);
    color:black;
    text-decoration:none;
    padding:15px 30px;
    margin-top:50px;
    border-radius:5px;
}

.book:hover, .join:hover {

    background-color:var(--accent1-color);
    color:var(--accent2-color);
}

.rivers-card, .camping-card, .rapids-card {

    margin:200px 0;

}

.card-img {

    border:10px solid black;

}

.home-title {

    color:var(--accent1-color);
    font-size:2em;
    margin-top:10px;
}

h2 {

    margin:0;

}

h4 {

    color:var(--accent1-color);

}

.logo {

    width:80px;

}

.icon {

    width:80px;
    padding-top:10px;


}

.mountains {

    margin:100px 0;

}

.msg {

    background-color:black;
    line-height:1.5em;
    padding:35px;
}

.msg h2 {

    color:var(--accent2-color);

}

.msg p {

    color:var(--accent2-color);
    padding-bottom:15px;
}

footer {

    background-color:var(--accent1-color);
    color:var(--accent2-color);
    padding:25px 50px;
    margin-top:200px;

}

footer p {

    font-size:1.2em;

}

footer a {

    color:var(--accent2-color);
    text-decoration:none;

}

footer a:hover {

    color:var(--secondary-color);
    
}

footer p a:hover {

    text-decoration:underline;

}

footer .social img {

    padding-top:15px;

}